<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SPDB.DAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <SPDB.DAL.Properties.Settings>
      <setting name="DbServer" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="DbDatabase" serializeAs="String">
        <value>spdb</value>
      </setting>
      <setting name="DbUsername" serializeAs="String">
        <value>user</value>
      </setting>
      <setting name="DbPassword" serializeAs="String">
        <value>password</value>
      </setting>
    </SPDB.DAL.Properties.Settings>
  </userSettings>
  <system.data>
    <DbProviderFactories>
      <remove name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>